<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pantry Profile</title>
</head>
<body>
    {{> pantryHeader}}
    <div class="container">
    <h1>Pantry Profile</h1>
      <div>
          <p><strong>Name:</strong> {{name}}</p>
          <p><strong>Organisation:</strong> {{organisation}}</p>
          <p><strong>Email:</strong> {{email}}</p>
          <p><strong>Role:</strong> {{role}}</p>
      </div>
    </div>
    {{> footer}}
</body>
</html>
