<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
    <img src="/images/logo.jpg" alt="Logo">
    <nav class="navigation">
            <ul>
                <li><a href="/pantry/profile">Profile</a></li>
                <li><a href="/pantry/pantry">Pantry</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    </header>
</body>
</html>