<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item to Pantry</title>
</head>
<body>
    {{> userHeader}}
    <div class="container">
        <form action="/user/addItem" method="post" class="form-container">
                <label for="produceType">Produce Type:</label>
                <input type="text" class="form-control" id="produceType" name="produceType" required>
                <label for="quantity">Quantity:</label>
                <input type="number" class="form-control" id="quantity" name="quantity" required>
                <label for="useByDate">Use By Date:</label>
                <input type="date" class="form-control" id="useByDate" name="useByDate" required>
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            <br>
            <input type="submit" class="button" value="Add Item">
        </form>
    </div>
    {{> footer}}
</body>
</html>


