<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produce Page</title>
</head>
<body>
    {{> userHeader}}
    <div class="container">
    <h1>Produce Page</h1>
    <a href="/user/addedItems"><button class="button">View Added Items</button></a>
    <a href="/user/addItem"><button class="button">Add Item</button></a>
    </div>
    {{> footer}}
</body>
</html>
